In [57]:
import pandas as pd
import numpy as np



df = pd.read_csv('/content/data.csv')

In [61]:
df.head()

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent
0,Croc Textured Two Fold Wallet,Lino Perros,0.0,0,1295,828,Onesize,wallets/lino-perros/lino-perros-women-peach-co...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets,lino-perros,467,36
1,Men Striped Sliders,Mast & Harbour,4.0,76,1299,584,"UK6,UK7,UK8,UK9,UK10,UK11",flip-flops/mast--harbour/mast--harbour-men-nav...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",flip-flops,mast--harbour,715,55
2,Printed A-line Kurta,Biba,4.3,66,1999,1599,"S,M,L,XL,XXL,3XL",kurtas/biba/biba-women-off-white--black-printe...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurtas,biba,400,20
3,Girls Floral Printed T-shirt,Anthrilo,0.0,0,599,539,"7-8Y,8-9Y,9-10Y",tshirts/anthrilo/anthrilo-girls-white-floral-p...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",tshirts,anthrilo,60,10
4,Women Printed Kurta with Skirt,FASHION DWAR,0.0,0,2899,2899,"S,M,L,XL",kurta-sets/fashion-dwar/fashion-dwar-women-mul...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurta-sets,fashion-dwar,0,0

In [70]:
df['product_link'][0]

'wallets/lino-perros/lino-perros-women-peach-coloured-croc-textured-two-fold-wallet/18070682/buy'

In [72]:
df['img_link'][0]

'https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/18070682/2022/5/16/fd3151c6-aa03-4e37-b7a9-2b7adfed966a1652701027315LinoPerrosWomenPeach-ColouredCrocTexturedTwoFoldWallet1.jpg'

In [74]:
s = 0

for i in list(df['rating_count']):
  if i > 100:
    s += 1


print(s)

22290

In [91]:
df[df['brand_name'] == 'Biotique']['rating_count'].sum()

819866

In [90]:
df[df['brand_name'] == 'Biotique']['rating'].mean()

4.371698113207546

In [98]:
len(df[df['brand_name'] == 'Roadster'])

4982

In [94]:
df.groupby('brand_name')['rating_count'].sum().sort_values(ascending=False)

brand_name
Roadster       2106904
Biotique        819866
Maybelline      707431
SASSAFRAS       596765
HIGHLANDER      531613
                ...
LIL PITAARA          0
LIL DRAMA            0
LICK                 0
LEMME BE             0
zink Z               0
Name: rating_count, Length: 3194, dtype: int64

In [ ]:
# loading the data

In [ ]:
# clean the dataset

In [42]:
# analyse