### Skill Requirements based on Jobs

1. What are the skills that are needed for almost all the jobs
2. What are the most important skills for a Data Analyst
3. What are the most important skills to ge thired in HDFC Bank
4. Years of Exp vs Requirements

In [118]:
# !git clone https://github.com/AshishJangra27/datasets

import pandas as pd
df = pd.read_csv('/content/datasets/Job Postings/jobs.csv.zip')

df.head()

,job_id,job_role,company,experience,salary,location,rating,reviews,resposibilities,posted_on,job_link,company_link
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",4.0,39110 Reviews,"Customer Service,Sales,Relationship Management",1 Day Ago,https://www.naukri.com/job-listings-branch-ban...,https://www.naukri.com/hdfc-bank-jobs-careers-213
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Product management,Market analysis,Change mana...",1 Day Ago,https://www.naukri.com/job-listings-product-ow...,https://www.naukri.com/accenture-jobs-careers-...
2,6.012391e+10,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",1 Day Ago,https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
3,6.012391e+10,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",1 Day Ago,https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
4,6.012301e+10,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",4.1,3759 Reviews,"SAP BO,PL / SQL,Oracle SQL,SAP Business Object...",1 Day Ago,https://www.naukri.com/job-listings-sap-bo-con...,https://www.naukri.com/mindtree-jobs-careers-3...

### 1. Data Exploration

#### 1.1 Remove Un-necessery Columns

In [119]:
df = df.drop(columns=['rating','reviews','posted_on','job_link','company_link'])

#### 1.2 Checking & Removing Null Values

In [120]:
df = df.dropna(subset = ['job_id','company','resposibilities'])

df['experience'] = df['experience'].fillna('5-10 Yrs')
df['location']   = df['location'].fillna('Bangalore/Bengaluru')

<ipython-input-120-3d4bc7717477>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['experience'] = df['experience'].fillna('5-10 Yrs')
<ipython-input-120-3d4bc7717477>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['location']   = df['location'].fillna('Bangalore/Bengaluru')

#### 1.3 Checking Duplicate Values

In [121]:
df.drop_duplicates(subset = 'job_id', inplace = True)

#### 1.4 Explore individual columns

In [122]:
df.head()

,job_id,job_role,company,experience,salary,location,resposibilities
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...","Customer Service,Sales,Relationship Management"
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Product management,Market analysis,Change mana..."
2,6.012391e+10,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Business process,Change management,Team manage..."
3,6.012391e+10,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Business process,Change management,Team manage..."
4,6.012301e+10,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...","SAP BO,PL / SQL,Oracle SQL,SAP Business Object..."

### 2. Data Cleaning

#### 2.1 Typecast job_id

In [123]:
df['job_id'] = df['job_id'].astype(int)

#### 2.2 Clean Experince Column

In [124]:
df['min_exp'] = df['experience'].str.replace(' Yrs','').str.split('-').str[0].astype(int)
df['max_exp'] = df['experience'].str.replace(' Yrs','').str.split('-').str[1].astype(int)

#### 2.3 Clean Salary Column

In [143]:
import re
from tqdm.auto import tqdm

def extract_numeric_values(text):
  numeric_values = str(re.findall(r'\d+', text))
  return numeric_values

data = []

for text in df['salary'].str.split('-').str[0].str.replace(',','').str.split('PA').str[0].str.strip():
  data.append(extract_numeric_values(text))

df['min_salary'] = df['min_salary'].str.replace('[','').str.replace(']','').str.replace("'",'').replace('9, 5','').replace('','Not Disclosed')

In [144]:
df

,job_id,job_role,company,experience,salary,location,resposibilities,min_exp,max_exp,min_salary
0,70123006070,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...","Customer Service,Sales,Relationship Management",1,6,Not Disclosed
1,60123905908,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Product management,Market analysis,Change mana...",11,15,Not Disclosed
2,60123905898,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Business process,Change management,Team manage...",3,7,Not Disclosed
3,60123905897,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Business process,Change management,Team manage...",3,7,Not Disclosed
4,60123008332,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...","SAP BO,PL / SQL,Oracle SQL,SAP Business Object...",5,7,Not Disclosed
...,...,...,...,...,...,...,...,...,...,...
73762,20123002989,Partner Success Executive/Edtech/Punjab,Parth Associates,1-5 Yrs,"7,00,000 - 8,50,000 PA.","Jalandhar, Chandigarh, Amritsar","CRM,Communication Skills,Presentation Skills,C...",1,5,700000
73763,20123002957,Partner Success Associate/Edtech/Punjab,Parth Associates,1-5 Yrs,"7,00,000 - 8,50,000 PA.","Ludhiana, Patiala, Moga","CRM,Communication Skills,Presentation Skills,C...",1,5,700000
73764,231222003986,Hiring For International Voice Process | Gurga...,First Step Solutions,1-4 Yrs,"3,00,000 - 4,50,000 PA.","New Delhi, Gurgaon/Gurugram","Customer Service,US Process,Hospitality,Custom...",1,4,300000
73765,171220001449,Fresher Engineer,Sofcon,0-2 Yrs,Not disclosed,"Kota, Udaipur, Banswara, Bhiwadi, Jaipur, Alwa...","ENGINEERING,B Tech Fresher,AutoCAD,Degree,PLC,...",0,2,Not Disclosed
73766,71022008732,Anatomy Trainer - Part Time / Full time,Indian Healthcare BPO,1-6 Yrs,Not disclosed,"Hybrid - Pondicherry/Puducherry, Salem, Chennai","Lecturer Activities,Nursing Education,Trainer,...",1,6,Not Disclosed

In [135]:
df['min_salary'][0]

'[]'

### 3 Data Analysis

#### 3.1) What are the skills that are needed for almost all the jobs

In [151]:
df['resposibilities'].str.split(',').explode().value_counts().head()

resposibilities
Sales            4623
tied             3310
agency           3307
communication    2556
training         2218
Name: count, dtype: int64

#### 3.2) What are the most important skills for a Data Analyst

In [162]:
df[df['job_role'] == 'Data Analyst']['resposibilities'].str.split(',').explode().str.title().value_counts().head()

resposibilities
Data Analysis    28
Sql              21
Excel            15
Data Analyst     13
Power Bi         13
Name: count, dtype: int64

#### 3.3) What are the most important skills to ge thired in HDFC Bank

In [163]:
df[df['company'] == 'Hdfc Bank']['resposibilities'].str.split(',').explode().str.title().value_counts().head()

resposibilities
Portfolio Management       8
Cross Selling              7
Sales                      6
Relationship Management    6
Banking                    5
Name: count, dtype: int64

#### 3.4 Years of Exp vs Requirements

#### 3.5 Average Salary vs Years of Exp